<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="HelloWorld Test Suite">
    <listeners>
        <!-- Use XMLReporter to avoid jq HTML Reporter -->
        <listener class-name="org.testng.reporters.XMLReporter" />
    </listeners>
    <test name="HelloWorld Test">
        <classes>
            <class name="com.example.HelloWorld" />
        </classes>
    </test>
</suite>



