<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="HelloWorld Test Suite">
    <test name="HelloWorld Functionality Test">
        <classes>
            <!-- Reference the HelloWorld class in the compiled directory -->
            <class name="com.example.HelloWorld"/>
        </classes>
    </test>
</suite>
